# Web framework (API)
fastapi
uvicorn[standard]

# Machine Learning and Computer Vision
torch
torchvision
opencv-python
numpy
pandas

# Database (PostgreSQL + PostGIS)
SQLAlchemy
GeoAlchemy2
psycopg2-binary

# Storage & Files
boto3

# HTTP Requests & External APIs
requests
python-multipart

# Geocoding and Mapping
geopy

# Authentication & Security
python-jose
passlib[bcrypt]

# Email integration (Report sending)
sendgrid

# Utilities
pillow
python-dotenv

